.cardWrapper {
    margin: 1rem;
    padding: 1rem;
    width: 65%;
    height: 80%;
    border: 1px solid grey;
    box-shadow: 15px 5px 50px #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    backdrop-filter: blur(15px);
}

.cardImage {
    width: 15rem;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #420000;
}

.infoWrapper p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.smallCase {
    font-size: 12px;
}

.clickable {
    font-size: 16px;
}

.clickable :hover {
    background-color: #8f8e86;
    color: #fff;
    font-weight: bold;
}