.cardWrapper {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    height: 50%;
    border: 1px solid grey;
    box-shadow: 15px 5px 50px #fff;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    backdrop-filter: blur(5px);
}

.cardImage {
    width: 10rem;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
}